.login-wrapper {
  display: flex;
  height: 100vh;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.login-video-wrap {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.login-video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
}

.login-dark {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.login-google-wrap {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.7), 0 0 13px rgba(0, 0, 0, 0.4);
}

.login-google-button {
  background-color: #d0d0d0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
}

.login-google-icon {
  margin-right: 1rem;
}
