.spinner-wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

.spinner-spinComp {
  margin: 1.25rem;
}

.spinner-message {
  padding: 0.5rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
  text-align: center;
}
