.home-wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: rgb(249 250 251);
}

.home-desktop-bar {
  display: none;
  min-height: 100vh;
  flex-direction: initial;
  flex: 0 1 auto;
}

.home-mobile-bar {
  display: flex;
  flex-direction: row;
}

.home-top-bar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  box-shadow: 0 4px 6px -1px rgb(0, 0, 0, 0.1), 0 2px 4px -2px rgb(0, 0, 0, 0.1);
}

.home-sidebar {
  display: flex;
  position: fixed;
  top: 0;
  left: -80%;
  width: 80%;
  height: 100vh;
  background-color: #fff;
  box-shadow: 0 4px 6px -1px rgb(0, 0, 0, 0.1), 0 2px 4px -2px rgb(0, 0, 0, 0.1);
  overflow-y: auto;
  z-index: 10;
}

.home-sidebar.active {
  left: 0;
}

.home-open-bar {
  cursor: pointer;
}

.home-close-bar {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0.5rem;
  cursor: pointer;
}

.home-pins-wrapper {
  padding-bottom: 0.5rem;
  flex: 1 1 0%;
  height: 100vh;
}

@media (min-width: 768px) {
  .home-wrap {
    flex-direction: row;
  }

  .home-desktop-bar {
    display: flex;
  }

  .home-mobile-bar {
    display: none;
  }
}
