.pins-wrap {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.pins-sec-wrap {
  background-color: rgb(249 250 251);
}

.pins-thi-wrap {
  height: 100%;
}

@media (min-width: 768px) {
  .pins-wrap {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
}
